body{
font-family:Poppins,Calibri,sans-serif;
background:linear-gradient(135deg,#e3f2fd,#e0f7fa);
height:100vh;
display:flex;
justify-content:center;
align-items:center;
margin:0;
}

.container{
width:420px;
}

.panel{
background:white;
padding:30px;
border-radius:18px;
box-shadow:0 15px 40px rgba(0,0,0,.15);
text-align:center;
transition:.5s;
}

.panel input{
width:100%;
padding:12px;
margin:10px 0;
border-radius:10px;
border:1px solid #ddd;
}

button{
background:#1976d2;
color:white;
border:none;
padding:12px 20px;
border-radius:25px;
cursor:pointer;
}

button:hover{
background:#125fa6;
}

.hidden{
display:none;
}


/* eCard */

.ecard{
margin-top:20px;
background:white;
border-radius:20px;
padding:20px;
box-shadow:0 10px 25px rgba(0,0,0,.2);
display:flex;
gap:20px;
align-items:center;
}

.ecard img{
width:110px;
height:130px;
object-fit:cover;
border-radius:10px;
}

.cardText h3{
margin:0;
color:#1976d2;
}

#loginError{
color:red;
font-size:13px;
}