.logo img{
height:50px;
width:auto;
display:block;
}/* GLOBAL RESET */

*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{
scroll-behavior:smooth;
}

body{
font-family:'Poppins',sans-serif;
background:#0c0c0c;
color:#ffffff;
line-height:1.7;
}


/* NAVBAR */

header{
position:fixed;
top:0;
width:100%;
display:flex;
justify-content:space-between;
align-items:center;
padding:18px 8%;
background:rgba(0,0,0,0.7);
backdrop-filter:blur(8px);
z-index:1000;
}

.logo{
font-size:24px;
font-weight:600;
letter-spacing:2px;
}

nav ul{
display:flex;
list-style:none;
}

nav ul li{
margin-left:28px;
}

nav ul li a{
text-decoration:none;
color:white;
font-size:15px;
font-weight:500;
transition:0.3s;
}

nav ul li a:hover{
color:#f5c518;
}



/* HERO */

.hero{
height:100vh;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.7)),
url("images/disneydubai.jpg");
background-size:cover;
background-position:center;
padding-top:80px;
}

.hero-content h1{
font-size:60px;
letter-spacing:3px;
margin-bottom:20px;
}

.hero-content p{
font-size:20px;
color:#ddd;
margin-bottom:30px;
}

.btn{
display:inline-block;
padding:12px 30px;
background:#f5c518;
color:black;
font-weight:600;
border-radius:30px;
text-decoration:none;
transition:0.3s;
}

.btn:hover{
background:white;
}



/* PHOTO STORY SECTIONS */

#photos{
padding-top:120px;
}

.photo-section{
max-width:1200px;
margin:120px auto;
padding:0 20px;
}

.photo-section img{
width:100%;
border-radius:12px;
margin-bottom:30px;
box-shadow:0 15px 40px rgba(0,0,0,0.6);
}



/* PHOTO INFORMATION */

.photo-info{
max-width:850px;
margin:auto;
}

.photo-info h2{
font-size:36px;
margin-bottom:10px;
letter-spacing:1px;
}

.location{
color:#f5c518;
margin-bottom:20px;
font-size:15px;
letter-spacing:1px;
}

.camera{
background:#151515;
padding:18px;
border-radius:8px;
margin-bottom:20px;
font-size:14px;
line-height:1.8;
color:#ddd;
}

.story{
font-size:17px;
color:#ccc;
line-height:1.8;
}



/* ABOUT */

.about{
padding:120px 20%;
text-align:center;
background:#111;
}

.about h2{
font-size:36px;
margin-bottom:20px;
}

.about p{
font-size:17px;
color:#ccc;
}

.contact-details{
margin-top:30px;
line-height:1.9;
font-size:16px;
}

.contact-details a{
color:#f5c518;
text-decoration:none;
}

.contact-details a:hover{
text-decoration:underline;
}

/* CONTACT */

.contact{
padding:120px 8%;
text-align:center;
background:#0c0c0c;
}

.contact h2{
font-size:36px;
margin-bottom:20px;
}

.contact p{
margin-bottom:25px;
color:#ccc;
}



/* FOOTER */

footer{
padding:25px;
text-align:center;
background:black;
color:#aaa;
font-size:14px;
}



/* RESPONSIVE */

@media(max-width:900px){

.hero-content h1{
font-size:40px;
}

.photo-info h2{
font-size:28px;
}

.about{
padding:80px 8%;
}

}

@media(max-width:600px){

.hero-content h1{
font-size:32px;
}

nav ul li{
margin-left:15px;
}

.photo-section{
margin:80px auto;
}

.story{
font-size:16px;
}

}
